absl-py==2.3.1
addict==2.4.0
antlr4-python3-runtime==4.9.3
anyio==4.5.2
appdirs==1.4.4
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
arrow==1.4.0
asttokens==3.0.1
astunparse==1.6.3
async-lru==2.0.4
attrs==25.3.0
babel==2.17.0
backcall==0.2.0
############################# backports-zoneinfo==0.2.1
beartype==0.19.0
beautifulsoup4==4.14.3
black==24.8.0
bleach==6.1.0
blinker==1.8.2
cachetools==5.5.2
casadi==3.7.2
certifi==2025.11.12
cffi==1.17.1
charset-normalizer==3.4.4
cityscapesscripts==2.2.4
click==8.1.8
click-plugins==1.1.1.2
cligj==0.7.2
cloudpickle==3.1.2
coloredlogs==15.0.1
comm==0.2.3
configargparse==1.7.1
coverage==7.6.1
cuda-python==12.3.0
cupy-cuda12x
cycler==0.12.1
cython==3.2.3
dash==3.3.0
debugpy==1.8.19
decorator==5.2.1
defusedxml==0.7.1
descartes==1.1.0
dictor==0.1.12
einops==0.8.1
ephem==4.2
exceptiongroup
executing==2.2.1
farama-notifications==0.0.4
fastjsonschema==2.21.2
fastrlock==0.8.3
filelock==3.13.1
fiona==1.10.1
fire==0.7.1
flake8==7.1.2
flask==3.0.3
flatbuffers==25.9.23
fonttools==4.57.0
fqdn==1.5.1
fsspec==2024.6.1
gast==0.4.0
geopandas==0.13.2
google-auth==2.45.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.70.0
gymnasium==1.1.1
h11==0.16.0
h5py==3.11.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.36.0
humanfriendly==10.0
idna==3.11
imagecorruptions==1.1.2
imageio==2.35.1
importlib-metadata==8.5.0
importlib-resources==6.4.5
iniconfig==2.1.0
ipykernel==6.29.5
ipython==8.12.3
ipywidgets==8.1.8
isoduration==20.11.0
itsdangerous==2.2.0
jaxtyping==0.2.19
jedi==0.19.2
jinja2==3.1.6
joblib==1.4.2
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.1.1
jupyter-client==8.6.3
jupyter-console==6.6.3
jupyter-core==5.8.1
jupyter-events==0.10.0
jupyter-lsp==2.3.0
jupyter-server==2.14.2
jupyter-server-terminals==0.5.3
jupyterlab==4.3.8
jupyterlab-pygments==0.3.0
jupyterlab-server==2.28.0
jupyterlab-widgets==3.0.16
keras==2.13.1
kiwisolver==1.4.7
laspy==2.5.0
lazrs==0.5.3
libclang==18.1.1
llvmlite==0.39.1
lxml==6.0.2
lyft-dataset-sdk==0.0.8
markdown==3.7
markupsafe==2.1.5
matplotlib==3.5.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mediapy==1.2.4
mistune==3.1.4
motmetrics==1.1.3
mpmath==1.3.0
mypy-extensions==1.1.0
narwhals==1.42.1
nbclient==0.10.1
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.0
ninja==1.13.0
notebook==7.3.3
notebook-shim==0.2.4
numba==0.56.4
numpy==1.23.0
nuscenes-devkit==1.1.10
# nvidia-cublas-cu11==11.11.3.6
# nvidia-cublas-cu12==12.1.3.1
# nvidia-cuda-cupti-cu11==11.8.87
# nvidia-cuda-cupti-cu12==12.1.105
# nvidia-cuda-nvrtc-cu11==11.8.89
# nvidia-cuda-nvrtc-cu12==12.1.105
# nvidia-cuda-runtime-cu11==11.8.89
# nvidia-cuda-runtime-cu12==12.1.105
# nvidia-cudnn-cu11==9.1.0.70
# nvidia-cudnn-cu12==9.1.0.70
# nvidia-cufft-cu11==10.9.0.58
# nvidia-cufft-cu12==11.0.2.54
# nvidia-curand-cu11==10.3.0.86
# nvidia-curand-cu12==10.3.2.106
# nvidia-cusolver-cu11==11.4.1.48
# nvidia-cusolver-cu12==11.4.5.107
# nvidia-cusparse-cu11==11.7.5.86
# nvidia-cusparse-cu12==12.1.0.106
# nvidia-nccl-cu11==2.20.5
# nvidia-nccl-cu12==2.20.5
# nvidia-nvjitlink-cu12==12.9.86
# nvidia-nvtx-cu11==11.8.86
# nvidia-nvtx-cu12==12.1.105
oauthlib==3.3.1
omegaconf==2.3.0
open3d==0.19.0
opencv-python
opt-einsum==3.4.0
overrides==7.7.0
packaging==25.0
panda3d==1.10.16
############################## panda3d-gltf==0.13
panda3d-simplepbr
pandas==1.4.4
pandocfilters==1.5.1
parso==0.8.5
pathspec==0.12.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.2.0
pkgutil-resolve-name==1.3.10
platformdirs==4.3.6
plotly==6.5.0
pluggy==1.5.0
prettytable==3.11.0
progressbar==2.5
prometheus-client==0.21.1
prompt-toolkit==3.0.52
psutil==7.1.3
ptyprocess==0.7.0
pure-eval==0.2.3
py-trees==0.8.3
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycocotools==2.0.7
pycodestyle==2.12.1
pycparser==2.23
pydot==4.0.1
pyflakes==3.2.0
pygame==2.6.1
pygments==2.19.2
pyopengl==3.1.10
pyopengl-accelerate==3.1.10
pyparsing==3.1.4
pyproj==3.5.0
pyquaternion==0.9.9
pytest==8.3.5
pytest-cov==5.0.0
pytest-runner==6.0.1
python-dateutil==2.9.0.post0
python-json-logger==4.0.0
pytz==2025.2
pywavelets==1.4.1
pyyaml==6.0.3
pyzmq==27.1.0
referencing==0.35.1
requests==2.32.4
requests-oauthlib==2.0.0
retrying==1.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.20.1
rsa==4.9.1
safetensors==0.5.3
scikit-image==0.19.3
scikit-learn
scipy
seaborn==0.13.2
send2trash==1.8.3
shapely==1.8.5
similaritymeasures==1.4.0
simple-watchdog-timer==0.1.1
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
stack-data==0.6.3
sympy==1.13.3
tabulate==0.9.0
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.1
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.4.0
terminado==0.18.1
terminaltables==3.1.10
threadpoolctl==3.5.0
tifffile==2023.7.10
# timm==1.0.22
tinycss2==1.2.1
tomli==2.3.0
# torch==2.4.1+cu121
# torchmetrics==0.11.4
# torchvision==0.19.1+cu121
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transforms3d==0.4.2
trimesh==2.35.39
triton==3.0.0
typeguard
typing==3.7.4.3
typing-extensions<4.6.0
uri-template==1.3.0
urllib3==2.2.3
wcwidth==0.2.14
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
werkzeug==3.0.6
widgetsnbextension==4.0.15
wrapt==2.0.1
yapf==0.40.1
zipp==3.20.2